h2 {
  background-color: red;
}

main {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
}

#logo {
  width: auto;
  height: 75px;
}
