{% extends "applipizza/base.html" %} {% block title %} formulaire ajout ingrediants {% endblock %}
{% block main %}

<h1>Formulaire d'ajout d'ingredients</h1>

<form action="/ingredient/traitement" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_nomIngredient" class="form-label">Le nom de cet ingrédient </label>
        <input type="text" name="nomIngredient" class="form-control" maxlength="50" required id="id_nomIngredient">
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
{% endblock %}
